@import "../../../../styles/styles.scss";

.todo-list-app {
  display: block;
  height: 100%;
  background-color: $dsb-seashell;
}

.content {
  //display: flex;
  //flex-flow: row wrap;
  padding: $dsb-standard-space;
}
