html {
  height: 100%;
}

body {
  xfont-family: 'Open Sans',sans-serif;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #ffff;
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

$dsb-red: #B6272B;
$dsb-green: #8DAC71;
$dsb-blue: #478CC8;
$dsb-yellow: #F9ECCB;
$dsb-seashell: #F1F1F1;
$dsb-silver: #C4C4C4;
$dsb-concrete: #6A6A6A;
$dsb-gray: #5B5B5B;
$primary-color: $dsb-blue;

$dsb-standard-space: 1.5em;

.nav-bar {
  background-color: $dsb-gray !important;
}
