body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
}

$dsb-red: #B6272B;
$dsb-green: #8DAC71;
$dsb-blue: #478CC8;
$dsb-yellow: #F9ECCB;
$dsb-seashell: #F1F1F1;
$dsb-silver: #C4C4C4;
$dsb-concrete: #6A6A6A;
$dsb-gray: #5B5B5B;
$primary-color: $dsb-blue;

$dsb-standard-space: 1.5em;
